img{
    width:70%!important;
    margin-top: auto;
 }
 .form{
     display: inline;
 }
 .btn-primary{
     background-color:#63FFC1;
     color:white;
     border: none;
 }
 .navbar-dark{
     background-color:#63FFC1;
 }
 
.container{
    margin-top: 10em;
}
img{
    width:70%!important;
 }
 .form{
     display: inline;
 }
 .btn-primary{
     background-color:#63FFC1;
     color:white;
     border: none;
 }
 .navbar-dark{
     background-color:#222930;
 }
 .navbar{
     overflow: hidden;
 }
 
 
   .navbar{
       font-size: 18px;
   }
   .row-header{
     margin:0px auto;
     padding:0px;
 }
 
 .row-content {
     margin:0px auto;
     padding: 50px 0px 50px 0px;
     border-bottom: 1px ridge;
     min-height:400px;
 }
 
 
    
    .footer{
        background-color: #222930;
        margin:0px auto;
        padding: 20px 0px 20px 0px;
    }
        
    
  .jumbotron{
     background-color:#63FFC1 ;
     margin:0px auto;
     padding:50px 20px 50px 20px;
     color:#222930;
 }
 .address{
     font-size:70%;
     margin:0px auto;
     color:#000;
 }
 a{
    text-decoration: none;
    color: white;
}
.mt-auto{
    margin-top: 3em;
}
@media only screen and (device-width: 768px) {
    .footer{
        width: 100%;
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    .footer{
        width: 100%;
        flex-direction: column;
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
  }